@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}
<section id="">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-sm-offset-1">
                <div class="login-form">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <form asp-action="Login" asp-controller="Account">
                        <div class="form-group">
                            <label asp-for="UserName" class="control-label"></label>
                            <input asp-for="UserName" class="form-control" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        
                        <button class="btn btn-default btn-primary">Login</button>
                        </br>
                        <a asp-action="Create" asp-controller="Account">Create new account</a>
                    </form>
                </div> <!--Login Form-->
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
                          